/* import the font style url*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
  scroll-behavior: smooth;
}
.inner_main_menu
{
    max-width: 1500px;
    padding: 0 40px;
    margin: auto;
}
  
  .inner_main_menu ul li a:hover{
    color:white;
  }
  
  /* all similar content code */
  .about, .service, .skill, .project, .contact, footer{
    font-family: 'Audiowide';
  }

  .about .about-content, 
  .service .service-content,
  .skill .skill-content,
  .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  section{
    padding: 80px 0;
  }

  section .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
    top: 00px;
    font-family: 'Audiowide';
  }

  section .title::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 50%;
    background: black;
    transform: translateX(-50%);
  }

  /* nav styling */
  .main_menu{
    width:100%;
    padding: 30px 0; 
    position:fixed;
    z-index: 999;
    font-family: 'Audiowide';
    transition: all 0.3s ease;
  }

  .main_menu.sticky
  {
    padding: 15px 0;
    background-color: blue;
    background-position: 10%;
    transition: all 0.3s ease;
  }

  .main_menu .inner_main_menu
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main_menu .logo a
  {
    color:white;
    font-size:35px;
    font-weight: 600;
  }

  .main_menu.sticky .logo a span{
    color: white;
  }

  .main_menu.sticky .menu li a:hover
  {
    color:white;
  }

  .main_menu.sticky li a span{
    color: white 
  }

  .main_menu .menu li
  {
    list-style: none;
    display: inline-block;
  }

  .main_menu .menu li a
{
    display: block;
    color: blue;
    font-size: 18px;
    font-weight: 700;
    margin-left: 25px;
    transition: color 0.3s ease;
}
  
  .main{
    padding: 16px;
    margin-top: 120px;
    height: 1500px;
    width:100%;
  }

  /* scroll up btn */
  .scroll-up{
    position: fixed;
    height: 45px;
    width: 42px;
    background: blue;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 9999;
    font-size: 35px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .scroll-up.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
  }

  /* home section styling */
.homepage
{
    display: flex;
    background: url("image/profile-1.jpg") no-repeat center;
    background-position-y: 25%;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Audiowide';
}

.homepage .inner_main_menu
{
    margin: auto 0 auto 20px;
}

.homepage .home-content .home-text-1
{
    font-size: 27px;

}

.homepage .home-content .home-text-2
{
    font-size: 76px;
    font-weight: 700;
    margin-left: -3px;
}

.homepage .home-content .home-text-3
{
    font-size: 35px;
    margin: 5px 0;
}

.homepage .home-content .home-text-3 span
{
    color: blue;
    font-weight: 600;
}

.homepage .home-content a{
  display: inline-block;
  background: blue;
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid blue;
  transition: all 0.3s ease;
}

.homepage .home-content a:hover{
  color:blue;
  background:white;
  border-color: white;
}

/* about section */
.about .about-content .left{
  width: 40%;
}

.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.about .about-content .right{
  width: 60%;
}

.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span{
  color: blue;
}

.about .about-content .right p{
  text-align: justify;
}

.about .about-content .right li{
  font-size: 18px;
}

.about .about-content .right a{
  display: inline-block;
  background: blue;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 1px 30px;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid blue;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover{
  color:blue;
  background:white;
}

/* service section*/
.service, .project{
  background: black;
  color: white;
}

.service .title::before,
.project .title::before{
  background: white;
}

.service .service-content .card{
  width: calc(33% - 30px);
  background: gray;
  text-align: center;
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.service .service-content .card .box{
  transition: all 0.3s ease;
}

.service .service-content .card:hover{
  color: black;
}

.service .service-content .card:hover .box{
  background-position: center;
  background-size: cover;
  transform: scale(1.05);
  font-weight: 900;
  opacity: unset;
}

.service .service-content .card i{
  font-size: 50px;
  color: rgb(20, 96, 228);
  transition: color 0.3s ease;
}

.service .service-content .card:hover i{
  color: silver;
}

.service .service-content .card .text{
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0 7px 0;
}

/* skill section start */
.skill .skill-content .column{
  width: calc(50% - 30px);
}

.skill .skill-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skill .skill-content .left p{
  text-align: justify;
}

.skill .skill-content .left a{
  display: inline-block;
  background: blue;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 1px 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid blue;
  transition: all 0.3s ease;
}

.skill .skill-content .left a:hover{
  color:blue;
  background:white;
}

.skill .skill-content .right .skill-bar{
  margin-bottom: 15px;
  
}

.skill .skill-content .right .skill-info{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.skill .skill-content .right span{
  font-weight: 500;
  font-size: 18px;
}

.skill .skill-content .right .line{
  height: 5px;
  width: 100%;
  background: grey;
  position: relative;
}

.skill .skill-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  background: blue;
}

.skill .skill-content .right .html::before{
  width: 80%;
}

.skill .skill-content .right .javascript::before{
  width: 30%;
}

.skill .skill-content .right .unity::before{
  width: 60%;
}

.skill .skill-content .right .godot::before{
  width: 50%;
}

.skill .skill-content .right .css::before{
  width: 70%;
}

.skill .skill-content .right .asprite::before{
  width: 40%;
}

.skill .skill-content .right .blender::before{
  width: 30%;
}

.skill .skill-content .right .phaser::before{
  width: 50%;
}

/* project section */
.project .carousel .card{
  background: rgba(32, 32, 32, 0.903);
  border-radius: 10px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.project .carousel .card:hover{
  background: blue;
}

.project .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.project .carousel .card:hover .box{
  transform: scale(1.05);
}

.project .carousel .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.project .carousel .card img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid darkblue;
}

.project .carousel .card:hover img{
  border-color: white;
}

/* contact section */
.contact .contact-content .column{
  width: calc(50% - 30px);
}

.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p{
  text-align: justify;

}

.contact .contact-content .left .icon{
  margin: 10px 0;
}

.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .contact-info{
  margin-left: 40px;
}

.contact .contact-content .row i{
  font-size: 25px;
  color: blue;
}

.contact .contact-content .contact-info .head{
  font-weight: 500;
}

.contact .contact-content .contact-info .sub-title{
  color: gray;
}

.contact .right form .contact-field{
  display: flex;
}

.contact .right form .field,
.contact .right form .contact-field .field{
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}

.contact .right form .textarea{
  height: 80px;
  width: 100%;
}

.contact .right form .name{
  margin-right: 10px;
}

.contact .right form .email{
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Audiowide';
}

.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}

.contact .right form .button{
  height: 47px;
  width: 170px;
}

.contact .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  background: blue;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-family: 'Audiowide';
}

.contact .right form .button button:hover{
  background: white;
  color: blue;
}

/* footer section */
footer{
  background: darkblue;
  padding: 20px 23px;
  color: white;
}

footer span a{
  color: blue;
}

footer span a:hover{
  text-decoration: underline;
}

/* menu bar feature */
.menu-btn
{
  color:white;
  font-size: 32px;
  cursor: pointer;
  display: none;
}

/* responsive media */
@media (max-width: 1280px)
{
  .home .inner_main_menu{
    margin-left: 0px;
  }
}

@media (max-width: 1100px)
{
  .about .about-content .left img{
    height: 350px;
    width: 350px;
  }

  .about .about-content .column{
    width: 100%;

  }

  .inner_main_menu{
    max-width: 1000px;
  }

  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right{
    flex: 100%;
  }
}

@media (max-width: 1050px)
{
  .inner_main_menu
  {
    padding: 0 40px;
  }
}

@media (max-width: 1031px)
{
  .menu-btn
  {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .main_menu .menu
  {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: silver;
    text-align: center;
    padding-top: 150px;
    transition: all 0.3s ease;
  }
  .main_menu .menu li
  {
    display: block;
  }
  .main_menu .menu.active
  {
    left: 0;
  }
  .main_menu .menu li a
  {
    display: inline-block;
    margin: 20px 0px;
    font-size: 25px;
  }
  .homepage .home-content .home-text-2
  {
      font-size: 65px;
  }

  .homepage .home-content .home-text-3
  {
      font-size: 30px;
  }

  .homepage .home-content a{
    font-size: 23px;
    padding: 10px 30px;
  }

  .service .service-content .card,
  .skill .skill-content .column,
  .contact .contact-content .column{
    width: 100%;
  }

  .project .carousel .card img{
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 800px)
{
  .inner_main_menu
  {
    padding: 0 20px;
  }
  .homepage .home-content .home-text-2
  {
      font-size: 50px;
  }

  .homepage .home-content .home-text-3
  {
      font-size: 20px;
  }

  .homepage .home-content a{
    font-size: 20px;
    padding: 8px 28px;
  }

  .about .about-content .column{
    width: 50%;
  }
  .service .service-content .card{
    margin-bottom: 10px;
  }

  .project .carousel .card img{
    height: 120px;
    width: 120px;
  }
}